*{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    
}

body{
    background:#499;
    text-align: center;
    padding-top: 400px;
    padding-left: 1000px;
}

.filmes{
   flex-direction: column;
   color:aliceblue;
   background-color: rgb(206, 145, 32);
   width: 400px;
   height: 300px;
   padding-top:50px ;
}